.alert-fixed {
    position: fixed;
    max-width: 200vh;
    margin-top: 1%;
    margin-left: 1%;
    z-index: 999;
    visibility: hidden;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .alert-fixed {
        width: 100%;
        position: fixed;
        margin-top: 1%;
        margin-left: 0%;
        z-index: 999;
    }
}